<ul class="popup__list">
  <li class="popup__group-title">Jump to…</li>

  <%= filter_place_menu_item account_settings_path, "Account Settings", "settings" %>
  <%= filter_place_menu_item user_path(Current.user), "My Profile", "person" %>
  <%= filter_place_menu_item notifications_path, "Notifications", "bell" %>
  <%= filter_place_menu_item notifications_settings_path, "Notification Settings", "settings" %>
  <%= filter_place_menu_item search_path, "Search", "search" %>
  <%= filter_place_menu_item workflows_path, "Workflows", "bolt" %>
</ul>

