<% @page_title = @filter.summary %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :header do %>
  <%= render "cards/index/header", filter: @filter %>
<% end %>

<div class="card-columns">
  <%= render "cards/index/engagement/considering", **@considering.to_h %>
  <%= render "cards/index/engagement/doing", **@doing.to_h %>
</div>

<%= render "cards/index/engagement/closed", **@closed.to_h %>
